@model USIS.Models.CourseRegistration

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var selectList = new SelectList(
       new List<SelectListItem>
            {
                new SelectListItem {Text = "AA", Value = "BA"},
                new SelectListItem {Text = "BA", Value = "BA"},
                new SelectListItem {Text = "BB", Value = "BB"},
                new SelectListItem {Text = "CB", Value = "CB"},
                new SelectListItem {Text = "CC", Value = "CC"},
                new SelectListItem {Text = "DC", Value = "DC"},
                new SelectListItem {Text = "DD", Value = "DD"},
            }, "Value", "Text", 1);

    var openedCoursesSelectList = ViewBag.openedCoursesSelectList;

}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CourseRegistration</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.studentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.studentID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.studentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.openedCourseID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.openedCourseID, (SelectList)openedCoursesSelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.openedCourseID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.grade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.grade, selectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.grade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
