@model USIS.Models.CourseRegistration

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CourseRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.studentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.openedCourseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.openedCourseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
