@model USIS.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.studentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            <a href="/Departments/Details/@Model.departmentID">
                @Html.DisplayFor(model => model.department.departmentName)
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gpa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gpa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
